<div class="detail-information-wrapper">
    <mat-card  *ngIf="isReady">
        <mat-card-title class="">
            <div fxLayout="row wrap" fxLayout.lt-sm="column" class="pb-1">
                <div fxFlex="50" class="pr-1 text-left">
                    <div class="card-title-text">{{dealer.name}}'s Detail</div>
                </div>
                <div fxFlex="50" class="pr-1 text-right">
                    <app-back-button color="primary">{{"BACK" | translate }}</app-back-button>
                </div>
            </div>
            <mat-divider></mat-divider>
        </mat-card-title>
        <mat-card-content class="mt-1">
            <div fxLayout="row wrap" fxLayout.lt-sm="column" >
                <div fxFlex="33" class="pr-1">
                    <mat-form-field class="full-width" floatLabel="always">
                        <mat-label>Name</mat-label>
                        <input
                            matInput
                            type="text"
                            name="name"
                            [value]="dealer?.name"
                            disabled
                        />
                    </mat-form-field>
                </div>
                <div fxFlex="33" class="pr-1">
                    <mat-form-field class="full-width" floatLabel="always">
                        <mat-label>Phone</mat-label>
                        <input
                            matInput
                            type="text"
                            name="phone"
                            [value]="dealer?.phone | phone:'US'"
                            disabled
                        />
                    </mat-form-field>
                </div>
            </div>
            <div fxLayout="row wrap" fxLayout.lt-sm="column" >
                <div fxFlex="33" class="pr-1">
                    <mat-form-field class="full-width" floatLabel="always">
                        <mat-label>Address</mat-label>
                        <input
                            matInput
                            type="text"
                            name="street"
                            [value]="dealer?.street"
                            disabled
                        />
                    </mat-form-field>
                </div>
                <div fxFlex="33" class="pr-1">
                    <mat-form-field class="full-width" floatLabel="always">
                        <mat-label>City</mat-label>
                        <input
                            matInput
                            type="text"
                            name="city"
                            [value]="dealer?.city"
                            disabled
                        />
                    </mat-form-field>
                </div>
                <div fxFlex="33" class="pr-1">
                    <mat-form-field class="full-width" floatLabel="always">
                        <mat-label>State</mat-label>
                        <input
                            matInput
                            type="text"
                            name="state"
                            [value]="dealer?.state"
                            disabled
                        />
                    </mat-form-field>
                </div>
                <div fxFlex="33" class="pr-1">
                    <mat-form-field class="full-width" floatLabel="always">
                        <mat-label>Zip Code</mat-label>
                        <input
                            matInput
                            type="text"
                            name="zip_code"
                            [value]="dealer?.zip_code"
                            disabled
                        />
                    </mat-form-field>
                </div>
                <div fxFlex="33" class="pr-1">
                    <mat-form-field class="full-width" floatLabel="always">
                        <mat-label>Website</mat-label>
                        <input
                            matInput
                            type="text"
                            name="website"
                            [value]="dealer?.website"
                            disabled
                        />
                    </mat-form-field>
                </div>
                <div fxFlex="33" class="pr-1">
                    <mat-form-field class="full-width" floatLabel="always">
                        <mat-label>Created At</mat-label>
                        <input
                            matInput
                            type="text"
                            name="created_at"
                            [value]="dealer?.created_at | date:'MM-dd-yyy hh:mm a'"
                            disabled
                        />
                    </mat-form-field>
                </div>
                <div fxFlex="33" class="pr-1">
                    <mat-form-field class="full-width" floatLabel="always">
                        <mat-label>Updated At</mat-label>
                        <input
                            matInput
                            type="text"
                            name="updated_at"
                            [value]="dealer?.updated_at | date:'MM-dd-yyy hh:mm a'"
                            disabled
                        />
                    </mat-form-field>
                </div>
            </div>
            <div fxLayout="row wrap" fxLayout.lt-sm="column" >
                <div fxFlex="100" class="pr-1 text-right">
                    <button mat-raised-button class="mr-05" color="primary" (click)="onEditDealer()">{{"EDIT" | translate }}</button>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
  
    <mat-card>
        <mat-card-title class="">
            <div fxLayout="row wrap" fxLayout.lt-sm="column" class="pb-1">
                <div fxFlex="50" class="pr-1 text-text">
                    <div class="card-title-text">{{"CONTACTS" | translate }}</div>
                </div>
                <div fxFlex="50" class="pr-1 text-right">
                    <button mat-raised-button class="mr-05" color="primary" (click)="onAddContact()">{{"ADD" | translate }} {{"NEW" | translate }}</button>
                </div>
            </div>
            <mat-divider></mat-divider>
        </mat-card-title>
        <mat-card-content class="mt-1">
            <mat-table [dataSource]="dataSource" matSort >
                <ng-container matColumnDef="srNo" sticky>
                    <mat-header-cell class="cell-srno" *matHeaderCellDef
                        >Sr #</mat-header-cell
                    >
                    <mat-cell class="cell-srno" *matCellDef="let item; let i = index;">
                        <a href="javascript:;">
                            {{ dataSource.filteredData.indexOf(item) + 1}}
                        </a>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="name">
                    <mat-header-cell class="cell-name cell-metric" *matHeaderCellDef mat-sort-header
                        >Name</mat-header-cell
                    >
                    <mat-cell class="cell-name cell-metric" *matCellDef="let item">
                        {{ item?.name}}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="title">
                    <mat-header-cell class="cell-title cell-metric" *matHeaderCellDef mat-sort-header
                        >Title</mat-header-cell
                    >
                    <mat-cell class="cell-title cell-metric" *matCellDef="let item">
                        {{ item?.title | excerpt:30 }}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="email">
                    <mat-header-cell class="cell-email cell-metric" *matHeaderCellDef mat-sort-header
                        >Email</mat-header-cell
                    >
                    <mat-cell class="cell-email cell-metric" *matCellDef="let item">
                        {{ item?.email | excerpt:30 }}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="phone">
                    <mat-header-cell class="cell-phone cell-metric" *matHeaderCellDef mat-sort-header
                        >Phone</mat-header-cell
                    >
                    <mat-cell class="cell-phone cell-metric" *matCellDef="let item">
                        {{ item?.phone }}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="updated_at">
                    <mat-header-cell class="cell-updated_at cell-metric" *matHeaderCellDef mat-sort-header
                        >Created At</mat-header-cell
                    >
                    <mat-cell class="cell-updated_at cell-metric" *matCellDef="let item">
                        {{ item?.updated_at | date:'MM-dd-yyy hh:mm a' }}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="created_at">
                    <mat-header-cell class="cell-created_at cell-metric" *matHeaderCellDef mat-sort-header
                        >Updated At</mat-header-cell
                    >
                    <mat-cell class="cell-created_at cell-metric" *matCellDef="let item">
                        {{ item?.updated_at | date:'MM-dd-yyy hh:mm a' }}
                    </mat-cell>
                </ng-container>
              
                <ng-container matColumnDef="actions">
                    <mat-header-cell class="cell-actions" *matHeaderCellDef
                        >Actions</mat-header-cell
                    >
                    <mat-cell class="cell-actions" *matCellDef="let item; let i = index;" (click)="$event.stopPropagation();">
                        <button mat-icon-button (click)="onEdit(item, i)"><mat-icon>edit</mat-icon></button>
                        <button mat-icon-button (click)="onDelete(item, i)"><mat-icon>delete</mat-icon></button>
                    </mat-cell>
                </ng-container>
              
                <mat-header-row
                    *matHeaderRowDef="columnHeaders; sticky: true"
                ></mat-header-row>
                <mat-row *matRowDef="let row; columns: columnHeaders"></mat-row>
            </mat-table>
            <div class="text-center margin-333" *ngIf="dataSource.data.length === 0">No Records Found!</div>
              
            <mat-paginator [pageSizeOptions]="[10, 20, 50, 100]"></mat-paginator>
        </mat-card-content>
    </mat-card>
</div>