.vl {
    height: 60px;
    background-image: linear-gradient(#f1f2f2, #f2f2f2);
    background-size: 3px 100%;
    background-repeat: no-repeat;
    background-position: center center;
    margin-top: -8px;
    margin-bottom: -2px;

    mat-icon {
        padding: 18px 5px 0px 0px;
        color: #868b8f;
        cursor: pointer;
        font-size: 26px;
    }
}

mat-card {
    width: fit-content;
    padding: 10px 20px 10px 20px;
    border: 3px solid #f2f2f2;
    margin-top: 2px;

    .icons{
        float: right;
        cursor: pointer;
    }

    .close {    
        color: #ff0000a1;
    }

    .edit{
        color: #0080009e;
    }

    .box {
        text-align: -webkit-center;
        margin-top: 20px;
        margin-bottom: 20px;

        .btn-d {
            display: flow-root;
        }

        .box-h {
            font-size: 16px;
            border: 4px solid #f2f2f2;
            padding: 10px 20px 10px 20px;
            width: 53%;
            height: auto;
        }

        .box-t {
            font-size: 16px;
            border: 4px solid #f2f2f2;
            padding: 10px 20px 10px 20px;
            margin-bottom: 15px;
        }

        .box-mt {
            font-size: 16px;
            padding: 10px 20px 10px 20px;
            height: auto;
            width: 70%;
        }

        .mat-mdc-radio-button~.mat-mdc-radio-button {
            margin-left: 16px;
        }

        p.capitalize {
            text-transform: capitalize;
        }

        .h4 {
            font-weight: 700;
        }

    }
}