<!-- <div class="vl"> <mat-icon (click)="action()">add_circle_outline</mat-icon></div> -->
 <!-- SMS ACTION SECTION -->
 <mat-card>
  <div fxLayout="row wrap" fxLayout.lt-sm="column">
    <div fxFlex="100" class="pr-1 box-title">
      <h4>
        SMS
        <mat-icon class="icons close">cancel</mat-icon> 
        <mat-icon class="icons edit">edit</mat-icon>
      </h4>
    </div>

    <div fxFlex="100" class="box">
      <span class="box-h">
        <b>Notification</b>
      </span>
    </div>
  </div>
</mat-card>
<div class="vl"> <mat-icon (click)="action()">add_circle_outline</mat-icon></div>