.card-title-text {
  font-size: 1.5rem;
}
/* mat-form-field {
  input {
    color: #fff !important;
  }
} */
.log-ul {
  list-style: none;
  padding-left: 0;
  li {
    padding: 3px 0;
  }
}
h2.title {
  font-size: 18px;
  margin: 30px 0;
  display: block;
  text-align: left;
}