<!-- DELAY ACTION SECTION -->
<mat-card >
  <div fxLayout="row wrap" fxLayout.lt-sm="column">
    <div fxFlex="100" class="pr-1">
          <h4>{{data.action.value}} 
            <mat-icon class="icons close" (click)="deleteaction(data)">cancel</mat-icon> 
            <mat-icon class="icons edit">edit</mat-icon>
          </h4>      
    </div>

    <div fxFlex="100" class="box">
      <span class="box-h" *ngIf="data.delay.value == 'Delay for a set amount of time'">
        <b>{{data.days}}</b> days, <b>{{data.hours}}</b> hours, <b>{{data.minutes}}</b>
        minutes,
        <b>{{data.seconds }}</b> seconds
      </span>

      <span class="box-h" *ngIf="data.delay.value == 'Delay until a day or time'">
        <b>{{data.date}}</b> date <b>{{data.timeofday}}</b> Time
      </span>

    </div>
  </div>
</mat-card>
  
<div class="vl"> <mat-icon (click)="action(data)">add_circle_outline</mat-icon></div>
<ng-template #delay_action>

</ng-template>