.d-grid {
    display: grid;
    padding: 0px 0px 17px 3px;
}
.days-of-week {
    display: flex;
    gap: 10px;
}
.title {
    margin-bottom: 8px;
    padding-top: 20px;
}
.d-contents {
    display: contents !important;
}
