<h1 matDialogTitle>{{data.title}}</h1>
  <form [formGroup]="itemForm" (ngSubmit)="submit()" autocomplete="new-cmsform">
  <div fxLayout="row wrap" fxLayout.lt-sm="column">
    <div fxFlex="50"  class="pr-1">
      <mat-form-field class="full-width">
        <input
        matInput
        autocomplete="new-firstname"
        name="new-firstname"
        [formControl]="itemForm.controls['first_name']"
        placeholder="First Name"
        appNoWhitespace>
      </mat-form-field>
    </div>
    <div fxFlex="50"  class="pr-1">
      <mat-form-field class="full-width">
        <input
        matInput
        autocomplete="new-lastname"
        name="new-lastname"
        [formControl]="itemForm.controls['last_name']"
        placeholder="Last Name"
        appNoWhitespace>
      </mat-form-field>
    </div>

    <div fxFlex="50"  class="pr-1">
      <mat-form-field class="full-width">
        <input
        matInput
        type="email"
        autocomplete="new-email"
        name="new-email"
        pattern="[A-Z0-9a-z._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,64}"
        [formControl]="itemForm.controls['email']"
        placeholder="Email"
        appNoWhitespace>
      </mat-form-field>
    </div> 

    <div fxFlex="50" class="pr-1">
      <mat-form-field class="full-width" *ngxPermissionsOnly="['manage_cms', 'manage_cms_sales']">
        <mat-label>Role</mat-label>
        <mat-select [formControl]="itemForm.controls['role']">
          <mat-option *ngFor="let role of roles" [value]="role.name">
            {{role.label}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="full-width" *ngxPermissionsOnly="['manage_cms_local', 'manage_cms_sales_local']">
        <mat-label>Role</mat-label>
        <mat-select [formControl]="itemForm.controls['role']" disabled>
          <mat-option *ngFor="let role of roles" [value]="role.name">
            {{role.label}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div fxFlex="50" class="pr-1">
      <mat-form-field class="full-width" *ngxPermissionsOnly="['manage_cms', 'manage_cms_sales']">
        <mat-select [formControl]="itemForm.controls['location']" placeholder="Location" #singleSelect>
          <ngx-mat-select-search *ngIf="true" [placeholderLabel]="'Search...'" [noEntriesFoundLabel]="'No matches' "  [formControl]="locationFilterCtrl" [preventHomeEndKeyPropagation]="true">
            <mat-icon ngxMatSelectSearchClear>delete</mat-icon>
          </ngx-mat-select-search>
          <mat-option *ngFor="let item of filteredLocations" [value]="item.id">
            {{item.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="full-width" *ngxPermissionsOnly="['manage_cms_local', 'manage_cms_sales_local']">
        <mat-label>Location</mat-label>
        <mat-select [formControl]="itemForm.controls['location']" disabled>
          <mat-option *ngFor="let item of filteredLocations" [value]="item.id">
            {{item.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div fxFlex="50" class="pr-1" *ngIf="showPromocodeAdd || showPromocodeEdit">
      <mat-form-field class="full-width">
        <input matInput autocomplete="new-promo-code" type="promo-code" name="new-promo-code"
          [formControl]="itemForm.controls['promo_code']" placeholder="Promo Code">
      </mat-form-field>
    </div>

    <div fxFlex="50"  class="pr-1">
        <mat-form-field class="full-width">
            <input 
            matInput
            autocomplete="new-password"
            type="password"
            name="new-password"
            [formControl]="itemForm.controls['password']"
            placeholder="Password">
            <mat-hint align="start" *ngIf="type == 'edit'"><strong>Leave it blank if you don't change password</strong> </mat-hint>
        </mat-form-field>
        <small *ngIf="itemForm.controls['password'].hasError('minlength')" class="form-error-msg">The password must be at least 6 characters.</small>
    </div>
    
      <div fxFlex="50"  class="pr-1">
          <mat-form-field class="full-width">
              <input
              matInput
              autocomplete="new-password"
              type="password"
              name="new-confirmpassword"
              [formControl]="itemForm.controls['confirmPassword']"
              placeholder="Confirm Password">
          </mat-form-field>
          <small *ngIf="itemForm.controls['confirmPassword'].hasError('equalTo')" class="form-error-msg">Passwords do not match.</small>
      </div>
      <div class="d-contents" *ngIf="showRRSection">
      <div fxFlex="100"  class="pr-1">
      <h5 class="title" matDialogTitle>Round Robin</h5>
      <div class="pr-1 d-grid days-of-week">
        <mat-checkbox (click)="onSetAsDefault()" [checked]="itemForm.controls['isDefault'].value" [disabled]="defaultUser">Make it as default user
        </mat-checkbox>
      </div>
      <div class="pr-1 d-grid days-of-week">
        <mat-label>Days of Week</mat-label>
        <mat-checkbox [aria-label]="isSubscribedToEmailsMessage" *ngFor="let days of rrweekdays" (change)="selectDays($event)" [checked]="days.status" [value]="days.id">{{days.value}}
        </mat-checkbox>
      </div>
      </div>

      <div fxFlex="60" class="pr-1">
        <mat-form-field class="full-width" >
          <mat-select [formControl]="itemForm.controls['source']" placeholder="Source" multiple >
            <mat-option *ngFor="let sources of listOfSources" [value]="sources.id == 50 ? 8 : sources.id">
              {{sources.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      
      <div fxFlex="100"  class="pr-1">
        <mat-label>Limit</mat-label>
          <div class="pr-1 days-of-week">
            <div fxFlex="20">
              <mat-form-field class="full-width">
                  <input
                  matInput
                  autocomplete="new-password"
                  type="number"
                  name="new-confirmpassword"
                  [formControl]="itemForm.controls['limit']"
                  >
              </mat-form-field>
            </div>
            <div fxFlex="5" style="padding-top: 23px;">
              Per
            </div>
            <div fxFlex="40" style="padding-top: 21px;">
                <div class="pr-1 days-of-week">
                <mat-radio-group  [formControl]="itemForm.controls['typeoflimit']">
                  <mat-radio-button *ngFor="let limit of typeOfLimit" [value]="limit.id">{{limit.value}}  &nbsp;&nbsp;&nbsp;</mat-radio-button>
                </mat-radio-group>
                </div>
            </div>
          </div>
          <small *ngIf="itemForm.controls['typeoflimit'].value">{{itemForm.controls['first_name'].value | titlecase}} {{itemForm.controls['last_name'].value | titlecase}}  has received {{totalAssigned}} round robin leads this {{itemForm.controls['typeoflimit'].value == 'D' ? 'day' : itemForm.controls['typeoflimit'].value == 'M' ? 'month' : 'week'}}</small>
      </div>
    </div>



    <div fxFlex="100" class="mt-1">
      <app-button-loading loadingText="Processing..." [loading]="saving" [disabled]="itemForm.invalid" color="primary">{{ saveButtonLabel | translate }}</app-button-loading>
      <span fxFlex></span>
      <button mat-button color="warn" type="button" (click)="dialogRef.close(false)">Cancel</button>
    </div>
  </div>
  </form>