<div class="detail-information-wrapper">
    <mat-card  *ngIf="isReady">
        <mat-card-title class="">
            <div fxLayout="row wrap" fxLayout.lt-sm="column" class="pb-1">
                <div fxFlex="50" class="pr-1 text-text">
                    <div class="card-title-text">Inventory #{{inventory.stock_no}} Detail</div>
                </div>
                <div fxFlex="50" class="pr-1 text-right">
                    <app-back-button color="primary">{{"BACK" | translate }}</app-back-button>
                </div>
            </div>
            <mat-divider></mat-divider>
        </mat-card-title>
        <mat-card-content class="mt-1">
            <div fxLayout="row wrap" fxLayout.lt-sm="column" >
                <div fxFlex="33" class="pr-1">
                    <mat-form-field class="full-width" floatLabel="always">
                        <mat-label>Dearler</mat-label>
                        <input
                            matInput
                            type="text"
                            name="dealer"
                            style="display: none"
                            [value]=""
                            disabled
                        />
                        <a routerLink="./" class="mat-color-accent">{{inventory?.dealer}}</a>
                    </mat-form-field>
                </div>
            </div>
            <div fxLayout="row wrap" fxLayout.lt-sm="column" >
                <div fxFlex="33" class="pr-1">
                    <mat-form-field class="full-width" floatLabel="always">
                        <mat-label>Stock #</mat-label>
                        <input
                            matInput
                            type="text"
                            name="stock_no"
                            [value]="inventory?.stock_no"
                            disabled
                        />
                    </mat-form-field>
                </div>
                <div fxFlex="33" class="pr-1">
                    <mat-form-field class="full-width" floatLabel="always">
                        <mat-label>VIN</mat-label>
                        <input
                            matInput
                            type="text"
                            name="vin"
                            [value]="inventory?.vin"
                            disabled
                        />
                    </mat-form-field>
                </div>
                <div fxFlex="33" class="pr-1">
                    <mat-form-field class="full-width" floatLabel="always">
                        <mat-label>Type</mat-label>
                        <input
                            matInput
                            type="text"
                            name="is_new"
                            [value]="inventory?.is_new ? 'New': ''"
                            disabled
                        />
                    </mat-form-field>
                </div>
                <div fxFlex="33" class="pr-1">
                    <mat-form-field class="full-width" floatLabel="always">
                        <mat-label>Year</mat-label>
                        <input
                            matInput
                            type="text"
                            name="year"
                            [value]="inventory?.year"
                            disabled
                        />
                    </mat-form-field>
                </div>
                <div fxFlex="33" class="pr-1">
                    <mat-form-field class="full-width" floatLabel="always">
                        <mat-label>Make</mat-label>
                        <input
                            matInput
                            type="text"
                            name="make"
                            [value]="inventory?.make"
                            disabled
                        />
                    </mat-form-field>
                </div>
                <div fxFlex="33" class="pr-1">
                    <mat-form-field class="full-width" floatLabel="always">
                        <mat-label>Model</mat-label>
                        <input
                            matInput
                            type="text"
                            name="model"
                            [value]="inventory?.model"
                            disabled
                        />
                    </mat-form-field>
                </div>
                <div fxFlex="33" class="pr-1">
                    <mat-form-field class="full-width" floatLabel="always">
                        <mat-label>Description</mat-label>
                        <input
                            matInput
                            type="text"
                            name="desc"
                            [value]="inventory?.desc"
                            disabled
                        />
                    </mat-form-field>
                </div>
                <div fxFlex="33" class="pr-1">
                    <mat-form-field class="full-width" floatLabel="always">
                        <mat-label>Model #</mat-label>
                        <input
                            matInput
                            type="text"
                            name="model_no"
                            [value]="inventory?.model_number"
                            disabled
                        />
                    </mat-form-field>
                </div>
                <div fxFlex="33" class="pr-1">
                    <mat-form-field class="full-width" floatLabel="always">
                        <mat-label>Cost</mat-label>
                        <input
                            matInput
                            type="text"
                            name="cost"
                            [value]="inventory?.invoice | currency"
                            disabled
                        />
                    </mat-form-field>
                </div>
                <div fxFlex="33" class="pr-1">
                    <mat-form-field class="full-width" floatLabel="always">
                        <mat-label>MSRP</mat-label>
                        <input
                            matInput
                            type="text"
                            name="msrp"
                            [value]="inventory?.base_msrp | currency"
                            disabled
                        />
                    </mat-form-field>
                </div>
                <div fxFlex="33" class="pr-1">
                    <mat-form-field class="full-width" floatLabel="always">
                        <mat-label>Exterior Color</mat-label>
                        <input
                            matInput
                            type="text"
                            name="exterior_color"
                            [value]="inventory?.exterior_color"
                            disabled
                        />
                    </mat-form-field>
                </div>
                <div fxFlex="33" class="pr-1">
                    <mat-form-field class="full-width" floatLabel="always">
                        <mat-label>Interior Color</mat-label>
                        <input
                            matInput
                            type="text"
                            name="interior_color"
                            [value]="inventory?.interior_color"
                            disabled
                        />
                    </mat-form-field>
                </div>
                <div fxFlex="33" class="pr-1">
                    <mat-form-field class="full-width" floatLabel="always">
                        <mat-label>Mileage</mat-label>
                        <input
                            matInput
                            type="text"
                            name="current_mileage"
                            [value]="inventory?.current_mileage"
                            disabled
                        />
                    </mat-form-field>
                </div>
                <div fxFlex="33" class="pr-1">
                    <mat-form-field class="full-width" floatLabel="always">
                        <mat-label>Lot Age</mat-label>
                        <input
                            matInput
                            type="text"
                            name="lot_age"
                            [value]="inventory?.lot_age"
                            disabled
                        />
                    </mat-form-field>
                </div>
            </div>
            <div fxLayout="row wrap" fxLayout.lt-sm="column" >
                <div fxFlex="33" class="pr-1">
                    <mat-form-field class="full-width" floatLabel="always">
                        <mat-label>Created At</mat-label>
                        <input
                            matInput
                            type="text"
                            name="created_at"
                            [value]="inventory?.created_at | date:'MM-dd-yyy hh:mm a'"
                            disabled
                        />
                    </mat-form-field>
                </div>
                <div fxFlex="33" class="pr-1">
                    <mat-form-field class="full-width" floatLabel="always">
                        <mat-label>Updated At</mat-label>
                        <input
                            matInput
                            type="text"
                            name="updated_at"
                            [value]="inventory?.updated_at | date:'MM-dd-yyy hh:mm a'"
                            disabled
                        />
                    </mat-form-field>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>